<!-- spencer tang stang8 020505020-->
<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/css/hi.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>HOMEPAGE</title>
  <meta name="author" content="Spencer Tang">
</head>

<body>
  <!--Navigation bar-->
  <div class="navi">
    <a class="" href="/home"> AirBNB </a>
    <a class="active" href="/dashboard">Home</a>
    <a href="/roomlist">Rooms</a>
    <a href="/register">Sign Up</a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="panel space-4">
          <div class="media
               dashboard-profile-photo panel-image ">
            <img alt="Amit" class="img-responsive" height="190"
              src="https://a0.muscache.com/defaults/user_pic-225x225.png?v=3" title="Amit" style="width: 100%;">
            <div class="upload-profile-photo-cta btn btn-contrast btn-block text-wrap">
              <a href="#" class="link-reset">
                <i class="icon icon-camera"></i>
              </a> </div>
          </div>
          <div class="panel-body">
            <h2 class="text-center text-wrap">
              User
            </h2>
            <ul class="list-unstyled text-center">
              <li>
                <a href="#">Show Profile</a>
              </li>
              <li>
                <a href="#" class="btn btn-primary btn-block text-wrap space-top-1" id="edit-profile">Complete
                  Profile</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="panel space-4">
          <div class="panel-header">
            Quick Links
          </div>
          <div class="panel-body">
            <ul class="list-unstyled">
              <li class="space-2">
                <a href="#">All messages</a>
              </li>
              <li class="space-2">
                <a href="#">Upcoming Trips</a>
              </li>
              <li class="space-2">
                <a href="#">Hosting on Airbnb</a>
              </li>
              <li class="space-2">
                <a href="#">Travelling on Airbnb</a>
              </li>
              <li class="space-2">
                <a href="#">Help Centre</a>
              </li>
            </ul>
          </div>
        </div>

      </div>

      <div class="col-md-9">

        <div class="card space-4">
          <div class="card-header">
          </div>
          <div class="card-body">
            <ul class="list-unstyled">
              <li class="space-2">
                <div>Welcome to Airbnb!</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

</html>