<!-- spencer tang stang8 020505020-->
<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/css/hi.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Registration</title>
  <meta name="author" content="Spencer Tang 020505020 STANG8">
  <script>
    function validationCheck() {
      var error = true;
      var firstname = document.forms["loginForm"]["firstname"];
      var lastname = document.forms["loginForm"]["lastname"];
      var email = document.forms["loginForm"]["email"];
      var password = document.forms["loginForm"]["password"];


      if (firstname.value == "") {
        document.getElementById("firstname").innerHTML = "Please Enter your firstname"
        firstname.focus();
        error = false;
      } else {
        document.getElementById("firstname").innerHTML = ""
      }
      if (lastname.value == "") {
        document.getElementById("lastname").innerHTML = "Please Enter your lastname"
        lastname.focus();
        error = false;
      } else {
        document.getElementById("lastname").innerHTML = ""
      }
      if (password.value == "") {
        document.getElementById("password").innerHTML = "Please Enter your password"
        password.focus();
        error = false;
      } else {
        if (password.value.length < 6 || password.value.length > 12) {
          document.getElementById("password").innerHTML = "Password length should be between 6-12"
          error = false;
        } else {
          if (!/^([a-zA-Z0-9]){6,12}$/.test(password.value)) {
            document.getElementById("password").innerHTML = "Password should contain letter and digit only"
            error = false;
          } else {
            document.getElementById("password").innerHTML = ""
          }
        }
      }
      if (email.value == "") {
        document.getElementById("email").innerHTML = "Please Enter a valid e-mail address."
        email.focus();
        error = false;
      } else {
        if (!/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email.value)) {
          document.getElementById("email").innerHTML = "Invalid email format"
          email.focus();
          error = false;
        } else {
          document.getElementById("email").innerHTML = ""
        }
      }

      return error;
    }</script>

</head>

<body>
  <div class="navi">
    <a class="" href="/home"> AirBNB </a>
    <a href="/dashboard">Home</a>
    <a href="/roomlist">Rooms</a>
  </div>

  <div class="container">
    <h2>Register</h2>
    <p style="color:red"></p>
    <div class="signup card">
      <form name="loginForm" class="card-body" action="/registerCheck" method="POST"
        onsubmit="return validationCheck()">
        <input class="form-control" type="text" placeholder="Enter First Name" name="firstname" />
        <span class="error" id="firstname"> </span>
        <input class="form-control" type="text" placeholder="Enter Last Name" name="lastname" />
        <span class="error" id="lastname"> </span>
        <input class="form-control" type="text" placeholder="Enter Email" name="email" />
        <span class="error" id="username">
        </span>
        <input class="form-control" type="password" placeholder="Enter Password" name="password" />
        <span class="error" id="password"></span>
        <p><a href="/login">Already registred?</a></p>

        <div class="">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
  </div>


</body>

</html>